<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <script src="https://kit.fontawesome.com/da2720495a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header class = "body_header">
        <div class = "body_header--superior">
            <img src="/images/logo-mercado-liebre.svg" alt="">
        
            <form action="">
                <label><input type = "text" value ="Buscar productos, marcas" /> </i></label>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
    
            <h5>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h5>
        </div>

        <nav class = "body_header--menu">
            <ul class = "body_header_menu--comercio">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class = "body_header_menu--usuario">
                <li><a href="/register.html">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login.html">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <a class ="body_header_botton--burger" href="">
            <i class="fa-solid fa-bars"></i>
        </a>

    </header>
    <img class="body_header--banner" src="/images/img-home-banner.jpg" alt="">
    <main class = "body_main">
        <h3 class = "body_main_titulares">Basado en tu última visita</h3>
        <section class = "body_main--ultimaVisita">
            <div class = "body_main_UV-boxproduct">
                <article class= "body_main_article--img">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 6.700 </p>
                    <p class ="descuento"> 40% OFF </p>
                    <br>
                    <p class ="descripcion"> Cafetera Moulinex </p>
                </article>
            </div>
            <div class = "body_main_UV-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 230.000 </p>
                    <p class ="descuento"> 20% OFF </p>
                    <br>
                    <p class ="descripcion"> MacBook Pro 2019 </p>
                </article>
            </div>
            <div class = "body_main_UV-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 70.500 </p>
                    <p class ="descuento"> 10% OFF </p>
                    <br>
                    <p class ="descripcion"> Samsung Galaxy S10 </p>
                </article>
            </div>
            <div class = "body_main_UV-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 23.200 </p>
                    <p class ="descuento"> 5% OFF </p>
                    <br>
                    <p class ="descripcion"> SmartTv Samsung 43" </p>
                </article> 
            </div>   
        </section>
  
        <h3 class = body_main_titulares>Ofertas</h3>
        <section class = "body_main--ofertas">
            <div class = "body_main_Of-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 6.700 </p>
                    <p class ="descuento"> 40% OFF </p>
                    <br>
                    <p class ="descripcion"> Cafetera Moulinex </p>
                </article>
            </div>
            <div class = "body_main_Of-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 230.000 </p>
                    <p class ="descuento"> 20% OFF </p>
                    <br>
                    <p class ="descripcion"> MacBook Pro 2019 </p>
                </article>
            </div>
            <div class = "body_main_Of-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 70.500 </p>
                    <p class ="descuento"> 10% OFF </p>
                    <br>
                    <p class ="descripcion"> Samsung Galaxy S10 </p>
                </article>
            </div>
            <div class = "body_main_Of-boxproduct">
                <article class= "body_main_article--img">
                    <img  src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
                </article>
                <article class= "body_main_article--item">
                    <i class="fa-solid fa-truck"></i>
                    <p class ="precio"> $ 23.200 </p>
                    <p class ="descuento"> 5% OFF </p>
                    <br>    
                    <p class ="descripcion"> SmartTv Samsung 43" </p>
                </article>
            </div>    
        </section>
    </main>

    <footer class = "body_footer">
        <section class = "body_footer_section">
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-credit-card"></i>
            </a>
            <h3> Pagá con tarjeta o en efectivo</h3>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta efectivo
                en punto de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class ="body_footer_section">
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-gift"></i>
            </a>
            <h3> Envio gratis desde $ 2.500</h3>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>      
        <section class = "body_footer_section">
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-user-shield"></i>
            </a>
            <h3> Seguridad de principio a fin</h3>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>      
        <section class = "copyrigth">
            <h3> Copyrigth © 1999-2020 MercadoLiebre S.R.L.</h3>
            <marquee behavior="" direction="">DESARROLLADO POR JUAN EDUARDO LICCIARDI</marquee>
        </section>      
    </footer>
</body>
</html>