<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <script src="https://kit.fontawesome.com/da2720495a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header class = "body_header">
        <div class = "body_header--superior">
            <img src="/images/logo-mercado-liebre.svg" alt="">
        
            <form action="">
                <input type = "Ingrese producto" />
                <button>Buscar </button>
            </form>
    
            <h2>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <nav class = "body_header--menu">
            <ul class = "body_header_menu--comercio">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class = "body_header_menu--usuario">
                <li>
                    <a href="">
                        Creá tu cuenta 
                        <i class="fa-solid fa-address-card"></i> 
                    </a>
                </li>
                <li>
                    <a href="">
                        Ingresá
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mis compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <a class ="body_header_botton--burger" href="">
            <i class="fa-solid fa-bars"></i>
        </a>

    </header>

    <main class = "body_main">
        <section>
            <ul><li><h3 class = body_main_titulares>Sección: Basado en tu última visita</h3></li></ul>
            <img width = 200px src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
            <p> $ 6.700 <br>
                40% OFF <br>
                Cafetera Moulinex
            </p>
            <img width = 200px src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <p> $ 230.000 <br>
                20% OFF <br>
                MacBook Pro 2019
            </p>
            <img width = 200px src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <p> $ 70.500 <br>
                10% OFF <br>
                Samsung Galaxy S10
            </p>
            <img width = 200px src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
            <p> $ 23.200 <br>
                5% OFF <br>
                SmartTv Samsung 43"
            </p>
        </section>

        <section>
            <ul><li><h3 class = body_main_titulares>Sección de Ofertas</h3></li></ul>
            <img width = 200px src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la Cafetera">
            <p> $ 6.700 <br>
                40% OFF <br>
                Cafetera Moulinex
            </p>
            <img width = 200px src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <p> $ 230.000 <br>
                20% OFF <br>
                MacBook Pro 2019
            </p>
            <img width = 200px src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <p> $ 70.500 <br>
                10% OFF <br>
                Samsung Galaxy S10
            </p>
            <img width = 200px src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
            <p> $ 23.200 <br>
                5% OFF <br>
                SmartTv Samsung 43"
            </p>
        </section>
    </main>

    <footer class = "body_footer">
        <section >
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-credit-card"></i>
            </a>
            <ul><li><h3> Pagá con tarjeta o en efectivo</h3></li></ul>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta efectivo
                en punto de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-gift"></i>
            </a>
            <ul><li><h3> Envio gratis desde $ 2.500</h3></li></ul>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>      
        <section>
            <a class ="body_footer_icon" href="">
                <i class="fa-solid fa-user-shield"></i>
            </a>
            <ul list-style = none ><li><h3> Seguridad de principio a fin</h3></li></ul>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>      
        <section class = "copyrigth">
            <ul><li><h3> Copyrigth © 1999-2020 MercadoLiebre S.R.L.</h3></li></ul>
            <marquee behavior="" direction="">DESARROLLADO POR JUAN EDUARDO LICCIARDI</marquee>
        </section>      
    </footer>
</body>
</html>