<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/da2720495a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header class = "body_header">
        <div class = "body_header--superior">
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <form action="">
                <label><input type = "text" value ="Buscar productos, marcas" /> </i></label>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
            <h5>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h5>
        </div>

        <button class ="body_header_botton--burger" onclick="document.querySelector('.body_header--menu').classList.toggle('show')">
            <i class="fa-solid fa-bars"></i>
        </button>
        
        <nav class = "body_header--menu show">
            <ul class = "body_header_menu--comercio">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class = "body_header_menu--usuario">
                <li><a href="/register.html">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login.html">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        
    </header>

    <main class="login_main">
        <section class="login_section">
            <form class="login_form" action="">
                <div class="login_form_contenedor">
                    <input class="login_form_contenedor-Input" type="text" value="" id="usuario" placeholder="Nombre de Usuario">
                    <p> ¿No estás Registrado? <a href="register.html">Registrate</a> </p>
                </div>
                <div class="register_form_contenedor">
                    <input class="login_form_contenedor-Input" type="password" name="pass" value="" placeholder="Elegi tu contraseña">
                    <a class="login_msgerror" href=""> ¿Olvidaste tu contraseña?</a>
                </div>
                <div class="register_form_contenedor">
                    <a class="boton_a" href="/">Enviar</a>
                </div>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>