/* MEDIA QUERY || MOVIL*/

.register_main{
    background-color: var(--colorGrisClaro);
    display: flex;
    justify-content: center;
}

.register_section{
    width: 90%;
    background-color: #ffffff;
    margin-top: 5%;
}

.register_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}

.register_form_contenedor{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px 0px;
}

.register_form_contenedor-checkbox{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.register_form hr{
    width: 90%;
}

.register_form_contenedor-Input{
    width: 100%;
    color: rgba(0, 0, 0, .5);
    
}

.register_form_contenedor-fn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY || TABLET*/

@media (min-width:760px){
    .register_section{
        width: 60%;
        box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.2);
    }
    
}



/* MEDIA QUERY || DESKTOP*/


