
/*ESTILOS DEL HEADER*/
.body_header{
    background-color: var(--ColorAmarillo);
    
}

.body_header--superior img {
    margin-left: 20px;
    width: 150px;
}

.body_header--superior form {
    margin-left: 20px;
}

.body_header--superior h2 {
    font-weight: 400;
    text-align: center;
}

.body_header_botton--burger{
    background-color: var(--ColorAzul) ;
    color: var(--ColorGrisClaro);
    display: block;
    width: 50px;
    text-align: center;
    padding: 15px 0;
    border-radius : 10px;
    font-size: 18px;
    margin:auto;
    margin-top: 20px;
}

.body_header--menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.body_header--menu a {
    display: inline-block;
    padding: 5xp 0;
    font-size: 17px;
    color : var(--ColorOscuro);
    text-decoration: none;
}

/*ESTILOS DEL MAIN*/
body{
    background-color: var(--ColorGrisClaro);
}

.body_main{
    margin: 0px 5%;
}

.body_main section{       
    width: 100%;
}

.body_main_article--img{
    width: 100%;
    margin: 10px 0 0 0;
    background-color:#ffffff;
}

.body_main_article--item{
    margin-top: 2px;
    background-color: #ffffff;
    padding: 5px 0;
}

.body_main_article--item i{
    color: var(--ColorVerde);
    display: block;
    font-size: 18px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 5px;
    margin-left: 5px;
    border: solid 2px var(--ColorVerde);
    border-radius: 30px;
}

.body_main_titulares{
    font-size: 24px;
    text-align: center;
    color: var(--ColorGrisOscuro);
    margin: 0;
}

.body_main--ultimaVisita section {
    margin-top: 15px;
}

.body_main--ultimaVisita img {
    display: block;
    text-align: center;
    margin:auto;
}

.body_main--ultimaVisita p.precio {
    margin-left: 10px;
    font-size: 18px;
}

.body_main--ultimaVisita p.descuento {
    margin-left: 10px;
    font-size: 16px;
    color:var(--ColorVerde);
}

.body_main--ultimaVisita p.descripcion {
    margin-left: 10px;
    font-size: 16px;
}

.body_main--ofertas section {
    margin-top: 15px;
}

.body_main--ofertas img {
    display: block;
    text-align: center;
    margin:auto;
}

.body_main--ofertas p.precio {
    margin-left: 10px;
    font-size: 18px;
}

.body_main--ofertas p.descuento {
    margin-left: 10px;
    font-size: 16px;
}

.body_main--ofertas p.descripcion {
    margin-left: 10px;
    font-size: 16px;
}

/*ESTILOS DEL FOOTER*/
.body_footer{
    background-color: var(--ColorGrisClaro);
    padding-top: 10px ;
}

.body_footer_section {
    text-align: center;
    padding: 15px 0;
    
}

.body_footer_icon {
    font-size: 2em;
    color: var(--ColorCeleste);
    margin-bottom: 10 px;
}   

.body_footer_section h3, p {
    margin: 0;
    padding: 0;
  
}

.copyrigth {
    font-size: .7rem;
    text-align: center;
}

footer ul li {
    list-style: none;
    font-weight: normal;
}

