
/*ESTILOS DEL HEADER*/
.body_header{
    background-color: var(--ColorAmarillo);
    padding: 20px;
}

.body_header--superior img {
    width: 150px;
}

.body_header--superior h2 {
    font-weight: 400;
    text-align: center;
}

.body_header_botton--burger{
    background-color: var(--ColorAzul) ;
    color: var(--ColorGrisClaro);
    display: block;
    width: 50px;
    text-align: center;
    padding: 15px 0;
    border-radius : 10px;
    font-size: 18px;
    margin:auto;
    margin-top: 20px;
}

.body_header--menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.body_header--menu a {
    display: inline-block;
    padding: 5xp 0;
    font-size: 17px;
    color : var(--ColorOscuro);
    text-decoration: none;
}

/*ESTILOS DEL MAIN*/
.body_main_titulares{
    font-size: 24px;
    text-align: center;
    color: var(--ColorGrisOscuro);
}


/*ESTILOS DEL FOOTER*/
.body_footer{
    background-color: var(--ColorGrisClaro);
    padding-top: 10px ;
}

.body_footer_icon {
    font-size: 2em;
    color: var(--ColorCeleste);
    display: block;
    text-align: center;
    margin-bottom: 10 px;
}   

footer ul li {
    list-style: none;
}

